@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700');


/*********** Global Styles********/

body, html {
		background-color: #E3E3E3;
}

.wrapper {
		background: #E3E3E3;
}

.img-circle {
		border-radius: 50%;
}

/**********************************/

/*** thin bar ***/

.thin-bar {
	border-bottom: 5px solid #F33F12;
}

/*** About Section ***/

#about {
		margin-top: 10em;
		border: 1px solid #eee;
		background-color: white;
		padding-bottom: 3em;
}

#about img {
		max-width: 15em;
		position: relative;
		bottom: 7.5em;
}

#about .details {
		margin-top: -2em;
}

#about h2 {
		color: #646464;
		font-family: "Lato", "roboto", sans-serif;
		font-weight: 900;
		font-size: 3em;
		padding-bottom: 1em;
}

#about h5 {
		color: #8A8A8B;
}

#about p {
		margin-top: 1em;
		color: #646464;
		font-family: "roboto";
		font-weight: 300;
}

.cta .button.success {
		color: white;
		text-transform: uppercase;
		font-family: "Roboto";
		border-radius: 4px;
		transition: all 0.3s ease-out;
}
.cta .button.success:hover, .cta .button.success:focus {
		color: white;
		opacity: 0.95;
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
}

/*** timeline story ***/

#story {
	background-color: #516C7F;
	padding-top: 2em;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 4px;
	margin-left: 15%;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: inherit;
}

.timeline div {
	padding-left: 20%
}
